<h1>All posts</h1>

<% @posts.each do |post| %>
<div class ="page-header">
	<div id="wrap">
	
	<h3> <%= post.title %>
	
	</h3>
	
	<p>
		
		<span class="img"><%= image_tag  post.avatar_url.to_s, :class=>"post_image"%></span>
		<%= truncate(post.content ,:length=>75)%>
		<!--<%=post.user.full_name%></b>-->
	</p>
	<div class="meta">
		<strong>Added</strong> <%= link_to time_ago_in_words(post.created_at) +" ago", post %>

		<span class="admin"><%= link_to 'Edit', edit_post_path(post) %> </span>
		<span class="admin"><%= link_to 'Destroy', post, method: :delete, remote: true %></span>
	</div>
</div>

</div>
<% end %>
<%= will_paginate @posts %>

<%= link_to 'New Post', new_post_path, :class=>'btn btn-success' %>

