<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<a class="brand" href="/"><span>Get</span>Result</a>
						<li>
							<%= link_to "Browse",  posts_path%>
						</li>

					</ul>
					<ul class="nav pull-right">
						<% if user_signed_in? %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= "hi "+current_user.first_name %> <b class="caret"></b> </a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Profile</a>
								</li>
								<li>
									<a href="#">Edit</a>
								</li>
								<li>
									<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
								</li>
								<%else%>
								<li>
									<a href="#">Sign Up</a>
								</li>
								<li>
									<a href="#">Login</a>
								</li>
							</ul>
						</li>
						<%end%>
					</ul>
				</div>

			</div>

		</div>

		<!-- main content area-->

		<div class="container">
			<div class="span7 pull-left">

				<% if flash[:error] -%>
				<div class="alert">
					<button type="button" class="close" data-dismiss="alert">
						&times;
					</button>
					<p class='error'>
						<%= h flash[:error] %>
					</p>
				</div>

				<% end -%>
				<% if flash[:notice] -%>
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">
						&times;
					</button>
					<p class='error'>
						<%= h flash[:notice] %>
					</p>
				</div>

				<% end -%>
				<%= yield%>

			</div>
			<div class="span4 pull-right">

				<div class="well">
					<%if user_signed_in? %>
					<div class="frm">
						<h2>Login</h2>
						Ads Area......
						<div class="sign">
							<%= link_to "Sign up", new_user_session_path, :class =>'btn btn-success' %>

						</div>

					</div>
					<%else%>
					<div class="frm">
						<h2>Register</h2>
						Become A member to get access to exclusive Content
						<div class="sign">
							<%= link_to "Sign up", new_user_registration_path, :class =>'btn btn-success' %>

						</div>

					</div>

					<%end%>
				</div>
				<div class="span4 pull-right">
					<div class="cat">

						Category
					</div>
					<div class="catinner">
						<ul class="navlist">
							<li>
								<a href="#"> Familly </a>
							</li>
							<li>
								<a href="#"> Programming </a>
							</li>
							<li>
								<a href="#"> Relationship</a>
							</li>
							<li>
								<a href="#"> Familly </a>
							</li>
							<li>
								<a href="#"> Familly </a>
							</li>
							</u>
					</div>
				</div>
				<div class="span4 pull-right">
					<div class="k">
						shek

					</div>
					<div class="well">
						<ul class="navlist">
							<li>
								<a href="#"> Familly </a>
							</li>
							<li>
								<a href="#"> Programming </a>
							</li>
							<li>
								<a href="#"> Relationship</a>
							</li>
							<li>
								<a href="#"> Familly </a>
							</li>
							<li>
								<a href="#"> Familly </a>
							</li>
							</u>
					</div>
				</div>

			</div>

		</div>
		<div class="footer">
			<div class="container">
				<p>
					sdgjdsgjdgskjdgskjdgsnngklsganklgbasng
				</p>
				<div class="social">
					<%= image_tag("facebook.png")%>

					<%= image_tag("twitter.png")%>
					<%= image_tag("rss.png")%>

				</div>
			</div>

	</body>
</html>
